<h1>Hi edit_form</h1>


<form action="/create_photo">
  #next url after submission
  #omincalc param
  <div>
    <label for="source_input">
      Image URL
    </label>

    <input name="the_source" value = "<% @my_photo.source" >
  </div>

  <div>
    <label for="caption_input">
      Caption
    </label>

    <input name="the_caption" value = "<% @my_photo.caption">
  </div>

  <button>
    Create Photo
  </button>
</form>
